<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-subjects-tab" data-bs-toggle="tab" data-bs-target="#nav-subjects"
    type="button" role="tab" aria-controls="nav-subjects" aria-selected="true">
      <%= t "subjects_list_name"%>
    </button>
    <button class="nav-link" id="nav-trainees-tab" data-bs-toggle="tab" data-bs-target="#nav-trainees"
    type="button" role="tab" aria-controls="nav-trainees" aria-selected="false">
      <%= t "trainees_list_name"%>
    </button>
    <button class="nav-link" id="nav-supervisors-tab" data-bs-toggle="tab" data-bs-target="#nav-supervisors"
    type="button" role="tab" aria-controls="nav-supervisors" aria-selected="false">
      <%= t "supervisors_list_name"%>
    </button>
  </div>
</nav>
