@import "bootstrap-sprockets";
@import "bootstrap";

@import "./colors.scss";
@import "./layouts/header.scss";
@import "./layouts/footer.scss";
@import "./layouts/sidebar.scss";

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: $link_text;
}

.app {
  display: flex;
  background-color: $main_bg;
  min-height: 100vh;
}

.app-body {
  height: calc(100vh - 70px - 50px);
  overflow: auto;
}

.center-container {
  display: flex;
  min-height: calc(100vh - 70px - 50px - 30px * 2);
  justify-content: center;
  align-items: center;
  margin: 30px 0;

  &__auth {
    display: flex;
    justify-content: center;
    padding-top: 7%;
  }
}

.btn-greeny {
  background-color: $light-greeny;
  border-color: $light-greeny;

  &:hover {
    background-color: $greeny;
    border-color: $greeny;
  }
}

.crop {
  overflow: hidden;
  height: 35px;
  text-overflow: ellipsis;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.plus-button {
  border: 2px solid lightgrey;
  background-color: #fff;
  font-size: 16px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    height: 1em;
    width: 0.2em;
  }

  &:after {
    height: 0.2em;
    width: 1em;
  }
}

.plus-button--small {
  font-size: 12px;
}

.plus-button--large {
  font-size: 22px;
}

.subject-container,
.task-container {
  max-width: 80%;
  margin: auto;
  margin: auto;
  margin-top: 50px;

  h3 {
    margin: 30px;
    text-align: center;
  }
}

.subject-form,
.task-form {
  max-width: 65% !important;
  margin: auto;
  margin-top: 50px;

  .title {
    text-align: center;
  }

  input {
    margin-bottom: 20px;
  }
}

.card-body {
  .btn {
    margin-top: 15px;
  }
}

.col-border-right {
  border-right: solid 0.8px $header;
}

.course_info {
  background-color: $gray-medium-light;
}

.required::after {
  color: $red;
  content: " (*)";
}

.supervisor-edit-subject {
  .card {
    max-width: 65%;
    min-width: 55%;
    padding: 10px 10px;
    box-shadow: 0 3px 8px $shadow;
  }

  .card-title {
    margin-bottom: 20px;
    text-align: center !important;
  }
}

.subject-form {
  max-width: 90%;
  padding: 0 10px;
  height: 100%;
}

.add-member-form {
  max-width: 90%;
  padding: 0 0 10px 10px;
  height: 100%;
}

.subject_status {
  background-color: $white;
}

.info-img {
  max-width: 100%;
  height: auto;
}

.finished {
  background-color: $finished !important;
}

.not_activated {
  background-color: $not_actived !important;
}

.in_progress {
  background-color: $in_progress !important;
}

.social-share-wrap {
  margin-top: 20px;

  a {
    margin-left: 10px;
  }
}
