@import './colors.scss';

.new-report {
  min-width: 60%;

  .card-title {
    background-color: $title-header;
    padding: 10px;
    color: white;
  }
}

.report-search {
  .search-group > .form-group {
    margin-bottom: 15px;
  }

  .form-group {
    margin-right: 30px;
  }
  
  .form-group label {
    min-width: 120px;
  }
}
