@import "./colors.scss";

.user-signup {
  .card {
    min-width: 30%;
    padding: 10px 10px;
    box-shadow: 0 3px 8px $shadow;
  }
}

.user-edit-profile {
  .card {
    min-width: 60%;
    padding: 10px 10px;
    box-shadow: 0 3px 8px $shadow;
  }
}

.user-edit-profile, .user-signup {
  .card-title {
    margin-bottom: 20px;
    text-align: center !important;
  }
}

.trainee-form {
  height: 100%;

  .trainee-container {
    height: 100%;
    justify-content: space-between;
  }
}

.user-form {
  padding: 0 10px
}
