<% provide :title, t(".edit_report") %>
<% provide :button_text, t(".edit_report") %>

<div class="center-container">
  <div class="card new-report mt-4 mx-4">
    <div class="card-body">
      <h4 class="card-title mb-4">
        <strong><%= t ".daily_report" %></strong>
      </h4>

      <%= render "form" %>
    </div>
  </div>
</div>
